.App {
  text-align: center;
}

.orders-wrapper {
  margin: 20px auto 20px auto;
  width: 600px;
  min-height: 600px;
  border: 2px solid silver;
  border-radius: 100;
  padding: 20px;
}

.search-input {
  margin: 20px auto 20px auto;
}
